In [5]:
#Task 1
a=[2,3,4,2,3,4,8,9,12,"apple",'Apple']
distinct=[]
for x in a :
    if x not in distinct:
        distinct.append (x)
print (distinct)

[2, 3, 4, 8, 9, 12, 'apple', 'Apple']

In [6]:
# Task 2
# slice 'apple' from the give variable
B='i need an apple'
B[9:15]

' apple'

In [7]:
B[-5: ]

'apple'

In [2]:
#Task-3
#add both number when both number are even,
#multiple when both number are not a even number
def task3 (num1,num2):
    if num1 and num2 % 2 ==0:
        A=num1+num2
        print(A,"is even")
        return A
    else:
        A=num1*num2
        print(A,"is odd")
        return A

In [3]:
task3 (2,4)

6 is even

6

In [4]:
task3 (1,3)

3 is odd

3

In [8]:
#task 4 create a module
def add(a,b):
    c=a+b
    return (c)
add(15,15)

30

In [9]:
def multiple(a,b):
    c=a*b
    return (c)
multiple(15,15)

225

In [10]:
#Task-5
# Write a Python program to display a multiplication table(8th table) using for loop.

number = int(input("Enter the number :"))
for mul in range(1,11) :
    print("{0}*{1}={2}".format(number,mul,(number*mul,)))

Enter the number :8
8*1=(8,)
8*2=(16,)
8*3=(24,)
8*4=(32,)
8*5=(40,)
8*6=(48,)
8*7=(56,)
8*8=(64,)
8*9=(72,)
8*10=(80,)